* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #DEE2E6;
}

.contact {
    text-align: right;
    background-color: #212529;
    padding: 10px;
}

.top {
    margin-top: 50px;
}

.top-content {
    text-align: center;
    margin: 50px;
    display: inline-block;
    vertical-align: middle;
}

.meuNome {
    text-align: center;
    font-size: 4rem;
}

.minhaFoto {
    border-radius: 100%;
    margin-left: 50px;
    max-width: 50%;
    align-items: center;
}

.top-texto {
    text-align: center;
    margin: 50px 300px;
}

.middle {
    margin: 50px;
}