* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #DEE2E6;
    color: #212529;
}

.contact {
    text-align: right;
    background-color: #212529;
    padding: 10px;
}

.top {
    margin-top: 50px;
}

.top-content {
    max-width: 50%;
    margin: auto;
    text-align: center;
    vertical-align: middle;

}

.meuNome {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
}

.minhaFoto {
    border-radius: 100%;
    align-items: center;
    margin-bottom: 50px;
}

.top-texto {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.middle {
    padding: 70px 50px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.list {
    margin-left: 50px;
}